<% title "Edit Page" %>

<% form_for @page, :url => { :action => 'update' }, :html => { :method => :put } do |f| %>
	<%= render :partial => 'form', :locals => { :f => f } %>
<br />
<p>
  <%= link_to "Destroy", [:admin, @page], :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "Show", [:admin, @page] %> |
  <%= link_to "View All", admin_pages_path %> |
  <%= f.submit "Save" %>
</p>
<% end %>
