<%= title "Operator Login" %>
<div class="grid_8 prefix_4 suffix_4">
	
	<div id="grid8-top"></div>
	<div id="grid8-middle">
		<% if !current_user %>
			<fieldset id="login_box">
				<% form_tag session_path do -%>
				<ol>
					<li>&nbsp;<%= render :partial => "error" if flash[:error] %></li><br />
					<li><label for="login">Username</label>
						<%= text_field_tag 'login', '', :size => 30 %></li><br />
					<li><label for="password">Password</label>
						<%= password_field_tag 'password', '', :size => 30 %></li><br />
					<li><%= check_box_tag 'remember_me', :class => "remember" %>
						<label for="remember_me" class="remember">Remember me</label>
						<%= image_submit_tag("/images/buttons/login.gif", :class => 'button' ) %></li>
				</ol>
				<% end -%>
			</fieldset><br />
		<% else %>
			<p class="center"> You are logged in as <%= current_user.name %>.<br /><br />
				Would you like to <%= link_to "logout?", logout_path %></p>
		<% end %>
	</div>
	<div id="grid8-bottom"></div>
</div>