<%= title "Operator Login" %>
<div class="grid_8 prefix_4 suffix_4">
	
	<div id="login_box" class="blur">
		<% if !current_user %>
			<fieldset>
				<% form_tag session_path do -%>
				<ol>
					<li><label for="error">&nbsp;</label>
						&nbsp;<%= render :partial => "error" if flash[:error] %></li>
					<li><label for="login">Username</label>
						<%= text_field_tag 'login' %></li>
					<li><label for="password">Password</label>
						<%= password_field_tag 'password' %></li>
					<li><label>&nbsp;</label>
						<%= check_box_tag 'remember_me', :class => "remember" %>
						<label for="remember_me" class="remember">Remember me</label>
						<%= image_submit_tag("/images/buttons/login.gif", :class => 'button' ) %></li>
				</ol>
				<% end -%>
			</fieldset>
		<% else %>
			<p>You are currently logged in.</p>
			<p>Would you like to <%= link_to "logout", logout_path %>?</p>
		<% end %>
	</div>
	
</div>