<%= title "Login" %>
<div id="login_box">
	
	<% form_tag session_path do -%>
		<table >
			<tr><td></td><td colspan=2>&nbsp;<%= render :partial => "error" if flash[:error] %></td></tr>
			<tr><td width="80px"><label for="login">Username</label></td>
					<td colspan=2><%= text_field_tag 'login' %></td></tr>
			<tr><td><label for="password">Password</label></td>
				<td colspan=2><%= password_field_tag 'password' %></td></tr>
			<tr><td></td><td><%= check_box_tag 'remember_me' %>
				<label for="remember_me" class="remember">Remember me</label></td>
				<td align="right"><%= image_submit_tag("/images/buttons/login.gif", :class => 'button' ) %></td></tr>
		</table>
	<% end -%>
	
</div>
