<div class="grid_7 prefix_4">
  <% form_for([:operator, @account, @service]) do |f| %>
	<%= f.error_messages %>

	<%= f.hidden_field :account_id, :value => current_account.id %>

	<%= f.label :title, {}, :class=> "twohundred" %>
	<%= f.label :photo_id, "Choose an image", :class=> "twohundred" %>

	<%= f.text_field :title, :size => 18 %>&nbsp;
	<%= f.collection_select :photo_id, Photo.all, :id, :name %>

	<%= f.label :body, {}, :class=> "twohundred" %>
	<%= f.text_area :body, :cols => 37, :rows => 10 %>

	<div class="clear"></div>
	<br />
		<%= link_to(image_tag("/images/buttons/delete.png", :class => 'button' ), 
			[:operator, @account, @service], :confirm => 'Are you sure?', :method => :delete) %>
	    <div class="up10"><%= f.select(:active, { "Not Published" => false, "Published" => true } ) %></div>

		<%= link_to(image_tag("/images/buttons/cancel.png", :class => 'button' ), 
			operator_account_services_path(@account) ) %>
		<%= image_submit_tag("/images/buttons/save.png", :class => 'button' ) %>
  <% end %>
</div>
<%= error_messages_for :service %>