<ul id="services_list">
  <li><%= link_to "/auth/twitter" do %><%= image_tag "twitter_64.png", :size => "64x64", :alt => "Twitter" %><br/>Twitter<% end %></li>
  <li><%= link_to "/auth/facebook" do %><%= image_tag "facebook_64.png", :size => "64x64", :alt => "Facebook" %><br/>Facebook<% end %></li>
  <li><%= link_to "/auth/google" do %><%= image_tag "google_64.png", :size => "64x64", :alt => "Google" %><br/>Google<% end %></li>
  <li><%= link_to "/auth/yahoo" do %><%= image_tag "yahoo_64.png", :size => "64x64", :alt => "Yahoo" %><br/>Yahoo<% end %></li>
</ul>
