<div class="area_menubar" id="area_menubar">
	<ul>
		<%= layout_link_to "", area_path(params[:region], params[:accountlink]), 'home' %>
		<%= tab_for "", services_path(params[:region], params[:accountlink]), 'services' %>
		<%= tab_for "", specials_path(params[:region], params[:accountlink]), 'specials' %>
		<%= tab_for "", testimonials_path(params[:region], params[:accountlink]), 'testimonials' %>
		<%= tab_for "", area_path(params[:region], params[:accountlink]), 'schedule' %>
	</ul>
</div>
