<div id="tips" class="grid_5">
	<h2><%= Tip.random.title %></h2>
	<%= textilize(Tip.random.body) %>
</div>

<% if @special %>
	<div class="grid_6">
		<div class="special">
			<div class="text">
				<div class="title"><%= @special.title %></div>
				<%= textilize (@special.body) %>
				<div class="phone"><%= number_to_phone(@special.phone) %></div>
			</div>

			<div class="footer">
				<span style="float:left">www.heavensbest.us</span>
				<span style="float:right">Expires <%= @special.end.to_s(:long) %></span>
			</div>
		</div>
	</div>
	
	<% else %>
	<div id="ad" class="grid_6">
		<%= render :partial => "shared/ad" %>
	</div>
<% end %>

<div class="grid_5 testimonial">
	<% if @testimonial %>
		<div class="grid5-top">&nbsp;</div>
		<div class="grid5-middle" class="middle" style="height:99px">
			<p><%= truncate(@testimonial.quote, :length => 185, :ommission => "…") %>
			   <%= link_to "Read More", testimonials_path(params[:region], params[:accountlink]) %></p></div>
		<div class="testimonial-bottom"></div>
		<span class="name"><%= @testimonial.name %></span>
		<span class="location">in <%= @testimonial.location %></span>
	<% else %>
		<div class="grid5-top">&nbsp;</div>
		<div class="grid5-middle" class="middle" style="height:99px">
			<p>Heaven’s Best did the impossible with the carpet in a rental property that we own. 
				I really thought we would have to rip them out.	I am so glad I called Heaven’s Best. </p></div>
		<div class="testimonial-bottom"></div>
		<span class="name">Barbara Grubbs</span>
		<span class="location">in Tobyhanna, PA</span>
	<% end %>
</div>
