<div id="tips" class="grid_5 blur">
	<h2 class="blur2"><%= Tip.random.title %></h2>
		<%= simple_format(Tip.random.body) %></div>

<% if @special %>
	<%= render :partial => @special %>
	<% else %>
	<div id="ad" class="grid_6">
		<%= render :partial => "shared/ad" %>
	</div>
<% end %>

<div class="grid_5 testimonial">
	<% if @testimonial %>
		<div class="top">&nbsp;</div>
		<div class="middle" style="height:93px">
			<p><%= truncate(@testimonial.quote, :length => 195, :ommission => "…") %>
			   <%= link_to "Read More", testimonials_path(params[:region], params[:accountlink]) %></p></div>
		<div class="bottom"></div>
		<span class="name"><%= @testimonial.name %></span>
		<span class="location">in <%= @testimonial.location %></span>
	<% else %>
		<div class="top">&nbsp;</div>
		<div class="middle" style="height:93px">
			<p>Heaven’s Best did the impossible with the carpet in a rental property that we own. 
				I really thought we would have to rip them out.	I am so glad I called Heaven’s Best. </p></div>
		<div class="bottom"></div>
		<span class="name">Barbara Grubbs</span>
		<span class="location">in Tobyhanna, PA</span>
	<% end %>
</div>
