
  <% if @creditcard.errors.any? %>
    <div class="errorExplanation">
      <h2>Errors encountered with your payment information:</h2>
      <ul>
        <%= @creditcard.errors.full_messages.map {|m| content_tag('li', m)} %>
      </ul>
    </div>
  <% end %>

  <% if @address.errors.any? %>
    <div class="errorExplanation">
      <h2>Errors encountered with your address:</h2>
      <ul>
        <%= @address.errors.full_messages.map {|m| content_tag('li', m)} %>
      </ul>
    </div>
  <% end %>

  <% if @subscription && @subscription.errors.any? %>
    <div class="errorExplanation">
      <h2>Errors encountered with your payment:</h2>
      <ul>
        <%= @subscription.errors.full_messages.map {|m| content_tag('li', m)} %>
      </ul>
    </div>
  <% end %>


<div><%= label :creditcard, :first_name, "Name on Card" %>
	 <%= text_field :creditcard, :first_name, :size => 15 %>
	 <span class="hint">Enter the name as it appears on the card. The text boxes are for the first and last name respectively.<span class="pointer">&nbsp;</span></span>
	 <%= text_field :creditcard, :last_name, :size => 13 %></div>

<div><%= label :creditcard, :number, "Card Number" %>
	 <span class="hint">Enter your Credit Card number. <span class="pointer">&nbsp;</span></span>
	 <%= text_field :creditcard, :number, :size => 20 %></div>
	
<div><%= label :creditcard, :type, "Card Type" %>
	 <span class="hint">Choose your Credit Card type. <span class="pointer">&nbsp;</span></span>
	 <%= select :creditcard, :type, [['Visa', 'visa'], ['MasterCard', 'master'], 
	  ['American Express', 'american_express']] %></div>
	
<div><%= label :creditcard, :month, "Expiration" %>
	 <span class="hint">Choose the expiration date. <span class="pointer">&nbsp;</span></span>
	 <%= select :creditcard, :month, (1 .. 12) %> /
	 <%= select :creditcard, :year, (Time.now.year .. 10.years.from_now.year) %></div>

<div><%= label :creditcard, :verification_value, "Security code" %>
	 <span class="hint">Enter the security code. It is a 3 digit number on the back of a Visa or MasterCard. It is a 4 digit number on the front of an American Express card. <span class="pointer">&nbsp;</span></span>
	 <%= text_field :creditcard, :verification_value, :size => 4 %>
	 <% image_tag('signup/cvv.gif', :size => '51x31', :align => 'top') %></div>
	
<div><%= label :address, :address1, "Address" %>
	 <span class="hint">Enter the billing address. The 2nd line is optional. 
		<span class="pointer">&nbsp;</span></span>
	 <%= text_field :address, :address1 %><br/>
	 <%= label :address, :address2, "&nbsp;" %>
	 <%= text_field :address, :address2 %></div>

<div><%= label :address, :city %>
	<span class="hint">Enter the city name of the billing address. <span class="pointer">&nbsp;</span></span>
	<%= text_field :address, :city %></div>
	
<div><%= label :address, :state, "State" %>
	 <span class="hint">Enter the state of the billing address. <span class="pointer">&nbsp;</span></span>
	 <%= text_field :address, :state %></div>
	
<div><%= label :address, :zip, "Postal Code" %>
	 <span class="hint">Enter the postal code of the billing address. <span class="pointer">&nbsp;</span></span>
	 <%= text_field :address, :zip %></div>
	
<div><%= label :address, :country %>
	 <span class="hint">Enter the country name of the billing address. <span class="pointer">&nbsp;</span></span>
	 <%= text_field :address, :country %></div>

<div><%= label :address, :phone %>
	 <span class="hint">Enter the phone number associated with this card. <span class="pointer">&nbsp;</span></span>
	 <%= text_field :address ,:phone %></div>