<div id="footer">
		<div class="grid_11">
			&#169; <%= Date.today.year %> WeCan Inc. All rights reserved. 
			A service of <a href="http://www.lucidi.us">Lucidius</a>. <br />
		</div>
		
		<div class="grid_5">
			<%= link_to "Terms of Service", page_path('terms'), :rel => "nofollow" %> |
			<%= link_to "Privacy Policy", page_path('privacy'), :rel => "nofollow" %> |
			<% if user_signed_in? %>
			  <%= link_to "Manage Account", profile_path(current_user) %>
			<% else %>
			  <%= link_to "Operator Login", new_user_session_path, :rel => "nofollow" %>
			<% end %>
			<%# link_to "Sitemap", sitemap_url, :rel => "nofollow" %>		
		</div>
</div>
