<div class="nav current-<%= @current_tab %>">
	<ul>
		<%= tab_for "home", root_path %>
		<%= tab_for "locations", locations_path %>
		<%= tab_for "services", general_services_path %>
		<%= tab_for "testimonials", general_testimonials_path %>
		<li class="franchises"><%= link_to "franchises", "http://bit.ly/5KgUZ", :popup => true %></li>
	</ul>
</div>
