<div class="operator_menubar grid_10 prefix_1" id="operator_menubar">
	<ul>
		<%= tab_for "", edit_operator_account_path(@account), 'home' %>
		<%= tab_for "", operator_account_services_path(@account), 'services' %>
		<%= tab_for "", operator_account_specials_path(@account), 'specials' %>
		<%= tab_for "", operator_account_testimonials_path(@account), 'testimonials' %>
		<%= layout_link_to "", edit_operator_account_path(@account), 'settings' %>
	</ul>
</div>
