<div class="operator_menubar grid_10 prefix_1" id="operator_menubar">
	<ul>
		<%= tab_for "home", operator_accounts_path %>
		<%= tab_for "services", operator_account_services_path(@account) %>
		<%= tab_for "specials", operator_account_specials_path(@account) %>
		<%= tab_for "testimonials", operator_account_testimonials_path(@account) %>
		<%= tab_for "settings", edit_operator_account_path(@account) %>
	</ul>
</div>
