<h1>Contact Us</h1>

<% if logged_in? %>
	<p>Fill out the form below and we will do our best to resolve the issue. 
		The contact information for your area will be sent with your request. 
		Please allow us 24 hours to respond to questions and up to 48 hours for any technical issues.</p><br />
	
	<% form_for :ticket, :url => { :action => "create" } do |f| %>
  		<%= f.error_messages %>

		<%= f.label :account_id, "&nbsp;" %>
		<%= f.select( :account_id, current_user.accounts.to_dropdown, :prompt => "Choose an Area")  %><br /><br />
		<%= f.hidden_field :status, :value => "Open" %>	

		<%= f.label :comment, "Description" %>
		<%= f.text_area :comment, :rows => 5 %>

		<p><label>&nbsp;</label>
		   <%= image_submit_tag("/images/buttons/save.png", :class => 'button' ) %></p>
	<% end %>
<% else %>
	<p>If you have questions not answered by the FAQ then fill out the form below and we will do our 
		best to resolve the issue. Please allow us 24 hours to respond to questions and up to 48 hours 
		for any technical issues.</p><br />

	<% form_for :ticket, :url => { :action => "create" } do |f| %>
		<%= f.error_messages %>
  		
		<%= f.hidden_field :status, :value => "Open" %>	

		<%= f.label :name, "Name" %>
		<%= f.text_field :name %><br />

		<%= f.label :comment, "Description" %>
		<%= f.text_area :comment, :rows => 5 %>

		<p><label>&nbsp;</label>
		   <%= image_submit_tag("/images/buttons/save.png", :class => 'button' ) %></p>
	<% end %>
<% end %>
