<div class="grid_6">
	<div class="special">
		<div class="print"><%= link_to_function("Print this coupon", "javascript:print()") %></div>
		<div class="logo">&nbsp;</div>
		
		<div class="text">
			<div class="title"><%= special.title %></div>
			<%= special.body %>
			<div class="phone"><%= number_to_phone(special.phone) %></div>
		</div>
		
		<div class="footer">
				<span style="float:left">www.heavensbest.us</span>
				<span style="float:right">Expires <%= special.end.to_s(:long) %></span>
		</div>
	</div>
</div>