<%= title "Forgot Your Password?" %>

<div class="grid_8 prefix_4 suffix_4">
	<br /><br /><br /><br />
	<div id="grid8-top"></div>
	<div id="grid8-middle">
		<%= form_for @password do |f| %>
		  <%= f.error_messages %>
			<br />
			<fieldset>
				<legend>Enter your email address to reset your password</legend>
				<ol>
					<li>			
				    <%= f.text_field :email, :size => 37 %>
					</li>
					<li>			
				  	<%= f.submit "Submit" %>
				  	<%= link_to "Back", login_url %>
					</li>
				</ol>
			</fieldset>
		<% end %>
	</div>
	<div id="grid8-bottom"></div>
	<br /><br /><br /><br />
</div>

