<%= title "Forgot Your Password?" %>

<div class="grid_8 prefix_4 suffix_4">
	<div class="blur">

		<% form_for @password do |f| %>
		  <%= f.error_messages %>
			<fieldset>
				<legend>Enter Your Email Address</legend>
				<ol>
					<li>			
				    <%= f.label :email %>
				    <%= f.text_field :email %>
					</li>
					<li>			
				    <%= f.label :submit, '&nbsp;' %>
				  	<%= f.submit "Submit" %>
				  	<%= link_to "Back", login_url %>
					</li>
				</ol>
			</fieldset>
		<% end %>
	</div>
</div>

