<% form_for([:admin, @ticket]) do |f| %>
	<%= f.error_messages %>
	
	<% text_field_with_auto_complete :account, :locations, { :size => 20 }, :skip_style => true, :method => :get %>
	<%= f.select( :account_id, @accounts.map {|u| [u.name,u.id]})  %>	
	<%= f.select :status %>	
	<%= f.text_area :comment, :rows => 5 %>	

	<br />
	<p> <%= link_to "Delete", [:admin, @ticket], :confirm => 'Are you sure?', :method => :delete %> |
		<%= link_to "View All", admin_tickets_path %> | 
		<%= image_submit_tag("/images/buttons/save.png", :class => 'button' ) %></p>
<% end %>
