<% title "Tickets" %>

<h1>Tickets</h1>

<table width="600px">
  <% for ticket in @tickets %>
    <tr>
      <td><%= ticket.account_id %><br /></td>
      <td><%= ticket.created_at.to_s(:short_day) %></td>
      <td><%= textilize(ticket.comment) %></td>
      <td><%= link_to "Edit", edit_admin_ticket_path(ticket) %></td>
    </tr>
  <% end %>
</table>

<hr>

<br />
<p><%= link_to "New Ticket", new_admin_ticket_path %></p>
