<div class="grid_7 indent-20">
<%= form_for([:admin, @tip]) do |f| %>
	<table>
	  <tr><td colspan="4"><%= f.text_field :title, :size => 36 %></td>		
	  <tr><td colspan="4"><%= f.text_area :body, :cols => 34, :rows => 8 %></td></tr>
	
	  <tr>
	    <td><%= f.check_box :active %><%= f.label "active" %>
      <td><%= link_to(image_tag("/images/buttons/delete.png", :class => 'button' ), [:admin, @tip],
			 	:confirm => 'Are you sure?', :method => :delete) %></td>
		  <td><%= link_to(image_tag("/images/buttons/cancel.png", :class => 'button' ), admin_tips_path ) %></td>
		  <td align="right"><%= image_submit_tag("/images/buttons/save.png", :class => 'button' ) %></td>
	</table>
<% end %>
</div>
