<div class="grid_5">
	<div class="top">&nbsp;</div>
	<div class="middle">
		<h1><%= link_to(account.name + ",", edit_operator_account_url(account) ) %>
			<%= link_to(account.region.name, edit_operator_account_url(account) ) %></h1>
		<div class="area">
			<p><label><% if account.subscription.state == 'trial' %>Trial <% end %>Subscription:</label>
			<b><%= account.subscription.subscription_plan.name %> Plan</b>
			</p>
		
			<p><label>Cost:</label>
			<b>(<%= number_to_currency(account.subscription.subscription_plan.amount) %>/month)</b></p>

			<p><label>Next billing date: </label>
			<b><%= account.subscription.next_renewal_at.to_s(:short_day) %></b></p>
		</div>
	</div>
	<div class="bottom"></div>
	<br />
</div>
