<div><%= f.label :name, "Area name" %>
	 <%= f.text_field :name, :size => 28 %>
	 <span class="hint">Enter the name of your AREA. It is usually the name of the major city where your business operates.
		<span class="pointer">&nbsp;</span></span></div>
	
<div><% f.label :street %>
	<span class="hint">Enter the street address where your business is located. 
		The second line is optional.<span class="pointer">&nbsp;</span></span>
	<% f.text_field :street, :size => 28 %>
	<% f.label :street2, "&nbsp;" %>
	<% f.text_field :street2, :size => 28 %></div>
	
<div><% f.label :city, "City" %>
	<span class="hint">Enter the city where your business is located.
	<span class="pointer">&nbsp;</span></span>
	<% f.text_field :city, :size => 28 %></div>

<div><%= f.label :region_id, "State" %>
	 <span class="hint">Enter the state where your business is located.
		<span class="pointer">&nbsp;</span></span>		
	 <%= f.select(:region_id, Region.all.collect {|p| [ p.name, p.id ] } ) %> 
	 <% f.text_field :postal_code, :size => '8' %></div>

<div><%= f.label :email, "Area email" %>
	 <span class="hint">Enter the email address for this area. If you want to use the email address provided
		by heavensbest.us it will be in the form of atlanta.ga@heavensbest.us
		<span class="pointer">&nbsp;</span></span>
	 <%= f.text_field :email, :size => 28 %></div>

<%= f.fields_for :phones do |phone_form| %>
  <div class="phone">
  	<%= phone_form.label :number, "Phone number" %>
  	<span class="hint">Enter a phone number for this area. This will be displayed prominently on each page of your site.
  		<span class="pointer">&nbsp;</span></span>
  	<%= phone_form.text_field :number, :size => 28 %>
  </div>
<% end %>

<%= f.fields_for :operators do |operator_form| %>
  <div class="operator">
  	<%= operator_form.label :name, "Operator name" %>
  	<%= operator_form.text_field :name, :size => 28 %>
  	<span class="hint">The name and title of the operator for this area. Both will be displayed prominently on each page of your site.<span class="pointer">&nbsp;</span></span>

  	<%= operator_form.label :title, "Operator title" %>
  	<%= operator_form.text_field :title, :size => 28 %>
  </div>
<% end %>
