<div><%= f.label :name, "Area name" %>
	 <%= f.text_field :name, :size => 28 %>
	 <span class="hint">Enter the name of your AREA. It is usually the name of the major city where your business operates.
		<span class="pointer">&nbsp;</span></span></div>
	
<div><% f.label :street %>
	<span class="hint">Enter the street address where your business is located. 
		The second line is optional.<span class="pointer">&nbsp;</span></span>
	<% f.text_field :street, :size => 28 %>
	<% f.label :street2, "&nbsp;" %>
	<% f.text_field :street2, :size => 28 %></div>
	
<div><% f.label :city, "City" %>
	<span class="hint">Enter the city where your business is located.
	<span class="pointer">&nbsp;</span></span>
	<% f.text_field :city, :size => 28 %></div>

<div><%= f.label :region_id, "State" %>
	 <span class="hint">Enter the state where your business is located.
		<span class="pointer">&nbsp;</span></span>		
	 <%= f.select(:region_id, Region.find(:all).collect {|p| [ p.name, p.id ] } ) %> 
	 <% f.text_field :postal_code, :size => '8' %></div>

<div><%= f.label :email, "Area email" %>
	 <span class="hint">Enter the email address for this area. If you want to use the email address provided
		by heavensbest.us it will be in the form of atlanta.ga@heavensbest.us
		<span class="pointer">&nbsp;</span></span>
	 <%= f.text_field :email, :size => 28 %></div>

<div>
  <% fields_for :phones do |p| %>
  	<%= p.label :number, "Phone number" %>
  	<span class="hint">Enter a phone number for this area. This will be displayed prominently on each page of your site.
  		<span class="pointer">&nbsp;</span></span>
    <%= p.text_field :number, :size => 28 %>
  <% end %>
</div>

<div id="operators" class="fields">
  <% fields_for :operators do |o| %>
  	<%= o.label :name, "Operator name" %>
  	<%= o.text_field :name, :size => 28 %>
  	<span class="hint">The name and title of the operator for this area. Both will be displayed prominently on each page of your site.<span class="pointer">&nbsp;</span></span>

  	<%= o.label :title, "Operator title" %>
  	<%= o.text_field :title, :size => 28 %>
  <% end %>
</div>

<div><%= f.label :ganalytics, "Google Analytics" %>
	 <span class="hint">(Optional) Enter the account number of your google analytics account. It should look something like "1234567-1"
		<span class="pointer">&nbsp;</span></span>
	 <%= f.text_field :ganalytics, :size => 28 %></div>

<div><%= f.label :locations %>
	 <span class="hint">Enter the city names that your area services. A specific list will produce 
		accurate search results. Separate locations with a comma. (city1, city2, etc.)
		<span class="pointer">&nbsp;</span></span>
	 <%= f.text_area :locations, :rows => "6", :style => "width: 47%" %></div>
	

<div><%= f.label :zip_codes %>
	 <span class="hint">Enter any custom keywords you want to be displayed to search engines.
		<span class="pointer">&nbsp;</span></span>
	 <%= f.text_area :zip_codes, :rows => "6", :style => "width: 47%" %></div>
