<%= f.label :name %>
<%= f.text_field :name %><br />

<%= f.label :street %>
<%= f.text_field :street %><br />
<%= f.label :street2, "&nbsp;" %>
<%= f.text_field :street2 %><br />

<%= f.label :city, "City" %>
<%= f.text_field :city %><br />

<%= f.label :State, "State & Zip Code" %>
<%= f.select(:region_id, Region.find(:all).collect {|p| [ p.abbreviation, p.id ] } ) %> 
<%= f.text_field :postal_code, :size => '10px' %><br />

<%= f.label :company %>
<%= f.text_field :company %><br />

<%= f.label :email %>
<%= f.text_field :email %><br />

<div id="phones" class="attribute"><%= f.render_associated_form(@account.phones) %></div>
<% f.add_associated_link(image_tag("/images/buttons/add.gif"), @account.phones.build) %>

<div id="operators" class="attribute" ><%= f.render_associated_form(@account.operators) %></div>
<% f.add_associated_link(image_tag("/images/buttons/add.gif"), @account.operators.build) %>


<%= f.label :locations %>
<%= f.text_area :locations, :size => "30x4" %>
<small>Enter postal codes and city names that your area services</small><br />

<%= f.label :keywords %>
<%= f.text_area :keywords, :size => "30x3" %>
<small>Enter any custom keywords you want to be displayed to search engines.</small><br />
