<div class="grid_11">
<div id="grid12-top">&nbsp;</div>

<div id="grid12-middle">
	<div class="indent10">
	<h1 class="indent10"><%= @page_title = 'View / Change Billing Information' %></h1>

	<fieldset><legend>Billing Details</legend>
	<% if @subscription.state == 'trial' %>
	  <% if @subscription.next_renewal_at > Time.now %>
	    <p> Thank you for trying heavensbest.us!  Your trial area will expire in 
			<%= pluralize(@subscription.trial_days, 'day', 'days') %>, at which time this area will not be publicly accessible. 
			To maintain public access to your area, enter your credit card information below.</p><br />

		<p> The credit card will be charged <b><%= number_to_currency(@subscription.subscription_plan.amount) %>/month</b>
			beginning <b><%= @subscription.next_renewal_at.to_s(:short_day) %></b>. 
			A receipt will be sent to <b><%= @account.user.email %></b></p>
	  <% else %>
	    <p> Thank you for trying heavensbest.us! Your trial area has expired. 
			To regain public access to your area, enter your credit card information below. 
			Your credit card will be charged immediately and you will be billed 
			<b><%= number_to_currency(@subscription.subscription_plan.amount) %>/month</b> thereafter. 
			A receipt will be sent to <b><%= @account.user.email %></b></p>
	  <% end %>
	<% end %>
	
	  <br />
	  <label>Subscription</label>
	  <p><%= @subscription.subscription_plan.name %> Plan <% link_to '(Change)', plan_path %></p><br />

	  <% if @subscription.state == 'trial' %>
	    <label>Trial expiration</label>
	    <p><%= @subscription.next_renewal_at.to_s(:long_day) %></p>
	  <% else %>
	    <% if @subscription.amount > 0 %>
	      <label>Next charge date</label>
	      <p><%= @subscription.next_renewal_at.to_s(:long_day) %></p>
	      <br/>
	      <label>Next charge amount</label>
	      <p><%= number_to_currency @subscription.amount %></p>
	      <br/><br/>
	      
	      <label>Current payment method</label>
	      <p><%= @subscription.paypal? ? 'PayPal' : "#{@subscription.card_number} / #{@subscription.card_expiration}" %></p>
	    <% end %>
	  <% end %>
	</fieldset>

	<% if @subscription.amount > 0 %>
		<fieldset><legend>Credit Card Information Coming Soon</legend>
			<!-- <%# form_for :creditcard, @creditcard, :url => { :action => 'billing' } do |f| %>
				<%#= render :partial => 'shared/credit_card_form' %>
				<label>&nbsp;</label><%#= submit_or_cancel operator_account_url(@account), 'Update billing information' %>
			<%# end %> -->
		</fieldset>
	<% end %>
	</div>
	</div>
	<div id="grid12-bottom">&nbsp;</div>
</div>


<%= render :partial => @account %>