<div class="grid_11">
	<div id="grid12-top">&nbsp;</div>

	<div id="grid12-middle">
		<h1 class="indent20"><%= @page_title = 'Area Settings' %></h1>

		<%= form_for([:operator, @account]) do |f| %>
			<fieldset class="indent10"><legend>Area Information</legend>
				<%= f.error_messages %>	
				<% f.label :plan_id, 'Plan' %>
				<% select_tag :plan_id, options_from_collection_for_select(SubscriptionPlan.find(:all), :id, :name ) %>
				<%= render :partial => 'fields', :locals => {:f => f} %>
				<span class="prefix_2 grid_5">
					<%= label_tag "" %>
					<%= link_to(image_tag("/images/buttons/cancel_plan.gif"), cancel_path ) %>
			
					<%= image_submit_tag("/images/buttons/save.gif", :class => 'button' ) %>
				</span>
			</fieldset>		
		<% end %>
		<div class="clear"></div>
	</div>

	<div id="grid12-bottom">&nbsp;</div>
	
</div>

<%= render :partial => @account %>