<div class="grid_12">
	<h1><%= @page_title = 'Area Settings' %></h1>

	<fieldset><legend>Area Information</legend>
		<% form_for @account, :url => { :action => 'update' }, :html => { :method => :put } do |f| %>
			<%= f.error_messages %>	
			<%= render :partial => 'fields', :locals => {:f => f} %>
	</fieldset>
	  	<label>&nbsp;</label>
	  	<span class="prefix_2 grid_2"><%= image_submit_tag("/images/buttons/save.png", :class => 'button' ) %></span>
		<% end %>
</div>

<%= render :partial => @account %>