<div id="admin-content">
	<h1><%= @page_title = 'Areas' %></h1>
	<table width="700px">
	  <% current_user.accounts.each do |account| %>
	    <tr>
	      <td><%= link_to(h(account.name), edit_operator_account_url(account)) %></td>
	      <td><%= account.subscription.subscription_plan.name %> Plan
				<%= link_to('(Change Subscription)', :action => 'plan', :id => account.id) %></td>
	      <td>renews <%= account.subscription.next_renewal_at.to_s(:short_day) %>
				<%= link_to('(Change Billing)', :action => 'billing', :id => account.id) %></td>
	    </tr>
	  <% end %>
	</table>

	<br />
	<%= link_to('Create a new area', new_operator_account_url) %>
</div>