<div class="clear"></div>
<div id="grid16-top" class="indent10">&nbsp;</div>

<div id="grid16-middle" class="indent10">
	<h1 class="indent20"><%= @page_title = 'Create a new area' %></h1>

	<% form_tag :action => 'create' do %>

	  <fieldset class="indent10"><legend>Area Information</legend>
	  <% if @account.errors.any? %>
	    <div class="errorExplanation">
	      <h2>Errors encountered with your area information:</h2>
	      <ul><%= @account.errors.full_messages.map {|m| content_tag('li', m)} %></ul>
	    </div>
	  <% end %>
  
	    <% fields_for :account do |f| %>
		<div><%= f.label :plan_id, 'Plan' %>
			 <%= select_tag :plan_id, options_from_collection_for_select(SubscriptionPlan.all, :id, :to_s ) %>
			 <%= link_to "Features", page_path('features'), :popup => true %></div>

			<%= render :partial => 'fields', :locals => {:f => f} %>   
	    <% end %>
	  </fieldset>
  
	  <br />
	
	  <fieldset class="indent10"><legend>Review and Accept terms</legend>
		<% render :partial => "shared/gdseal" %>
		
		<p> This area qualifies for a 30 day free trial. If you decide to continue using heavensbest.us 
			you need to send payment before the end of your free trial on <%= (Date.today + 30).to_s(:long) %>. 
			Checks can be made out to "Lucidius LLC" and mailed to 176 Hidden Lake Cir., Canton, GA 30114</p><br />
			
		<p> The cost is $35/month for service. Six months of service is $200 ($10 discount). 
			A year of service is $400 ($20 discount).</p><br />
		
		<p> Please review our <%= link_to "Terms of Service", page_path('terms') %> and  
			<%= link_to "Privacy Policy", page_path('privacy') %> for details. <br />
			If you have questions please email <%= mail_to "billing@heavensbest.us", "billing@heavensbest.us", 
			:encode => :hex, :subject => "Question about policies" %>.</p><br />

		<% fields_for :account do |f| %>
		<p> <%= f.check_box :accept %>
			<%= f.label :accept, "I agree to the Terms of Service & Privacy Policy", :class => "accept" %></p>
		<% end %>
		
		<input type="submit" value="Create my area" />
	  </fieldset>
  	<% end %>

</div>
<div id="grid16-bottom" class="indent10"></div>
<div class="clearfix"></div>
