<div class="clear"></div>
<div id="grid16-top" class="indent10">&nbsp;</div>

<div id="grid16-middle" class="indent10">
	<h1 class="indent20"><%= @page_title = 'Create a new area' %></h1>

	<% form_tag :action => 'create' do %>

	  <fieldset class="indent10"><legend>Area Information</legend>
	  <% if @account.errors.any? %>
	    <div class="errorExplanation">
	      <h2>Errors encountered with your area information:</h2>
	      <ul><%= @account.errors.full_messages.map {|m| content_tag('li', m)} %></ul>
	    </div>
	  <% end %>
  
	    <% fields_for :account do |f| %>
    
		<div><%= f.label :plan_id, 'Plan' %>
			 <span class="plan"><% render :partial => "plans" %></span>
			 <%= select_tag :plan_id, options_from_collection_for_select(SubscriptionPlan.all, :id, :to_s ) %></div>

		<%= render :partial => 'fields', :locals => {:f => f} %>   

	    <% end %>
	  </fieldset>
  
	  <% if @account.needs_payment_info? %>
	  <% end %>
  	  <fieldset class="indent10"><legend>Payment Information</legend>
	    <%= render :partial => "shared/credit_card_form" %>
	  </fieldset>

	  <br />
	
	  <fieldset class="indent10"><legend>Review and Accept terms</legend>
		<p> You have chosen the premium plan for $30/month. 
			Your credit card will be charged immediately and you will have access to your new area.</p><br />
		
		<p> Please review our <%= link_to "Terms of Service", page_path('terms') %> and  
			<%= link_to "Privacy Policy", page_path('privacy') %>. <br />
			If you have questions please <%= mail_to "billing@heavensbest.us", "email support", :encode => :hex, 
			:subject => "Question about policies" %>.</p><br />

			<% fields_for :account do |f| %>
			<p><%= f.check_box :accept %>
				<%= f.label :accept, "I agree to the Terms of Service & Privacy Policy", :class => "accept" %></p>
			<% end %>

		  <input type="submit" value="Create my area" />
	  </fieldset>
  	<% end %>
</div>
<div id="grid16-bottom" class="indent10"></div>
<div class="clearfix"></div>
