<div class="clear"></div>
<div id="grid16-top" class="indent10">&nbsp;</div>

<div id="grid16-middle" class="indent10">
	<h1 class="indent20"><%= @page_title = 'Create a new area' %></h1>

	<%= form_for([:operator, @account]) do |f| %>
		<fieldset class="indent10"><legend>Area Information</legend>
			<%= render :partial => 'fields', :locals => {:f => f} %>
		</fieldset>		

		<fieldset class="indent10"><legend>Search Information</legend>
			<%= render :partial => 'search', :locals => {:f => f} %>
		</fieldset>		
  	
	  <fieldset class="indent10"><legend>Review and Accept terms</legend>				
  		<p> Please review our <%= link_to "Terms of Service", page_path('terms') %> and  
  			<%= link_to "Privacy Policy", page_path('privacy') %> for details. <br />
  			If you have questions please email <%= mail_to "natebird@heavensbest.us", "natebird@heavensbest.us", 
  			:encode => :hex, :subject => "Question about policies" %>.</p><br />

  		<p> <%= check_box_tag :accept %>
  			<%= label_tag :accept, "I agree to the Terms of Service & Privacy Policy", :class => "accept" %></p>
		
		<input type="submit" value="Create my area" />
	  </fieldset>
  	<% end %>

</div>
<div id="grid16-bottom" class="indent10"></div>
<div class="clearfix"></div>
