<% if @subscription && @subscription.errors.any? %>
  <div class="errorExplanation">
    <h2>Errors encountered with your change:</h2>
    <ul>
      <%= @subscription.errors.full_messages.map {|m| content_tag('li', m)} %>
    </ul>
  </div>
<% end %>

<div class="grid_11">
	<div id="grid12-top">&nbsp;</div>

	<div id="grid12-middle">
		<h1 class="indent20"><%= @page_title = "Subscription Settings" %></h1>

		<div class="indent20" style="width: 400px">
			<p> You can change your plan at any time. New plan features will be available immediately, 
				and you will be billed the new subscription price beginning 
				<b><%= @account.subscription.next_renewal_at.to_s(:short_day) %></b>.</p><br />

			<%= form_tag plan_operator_account_url do %>
				<% if @subscription.card_number %>
					<label>Card ends with </label> <%= @subscription.card_number %>
					<%= link_to "Change Billing", billing_path %>
					<% else %>
					<label>No card on file. </label>
					<%= link_to "Add a credit card?", billing_path %>
				<% end %><br />

				<label>Next Billing Date</label>
				<%= @subscription.next_renewal_at.to_s(:short_day) %>
	
				<br />	<br />
				<% link_to "Back", :back %>
				<%= link_to(image_tag("/images/buttons/back.gif"), :back) %>
				
				<% link_to "Cancel Plan", cancel_path %>
				<%= link_to(image_tag("/images/buttons/cancel_plan.gif"), cancel_path ) %>
		
				<% submit_tag "Change Plan", :id => "commit", :disabled => true %>
				<% image_submit_tag("/images/buttons/change_plan.gif", :class => 'button', :disabled => true) %>
	
				<br /><br />
				<p>	Refunds will not be issued for canceled subscriptions. 
					Please review the <%= link_to "Terms of Service", page_path('terms') %>
					or email <%= mail_to "billing@heavensbest.us", "billing@heavensbest.us", :encode => :hex, 
					:subject => "Question about billing policies" %> with questions.</p><br />
			<% end %>
		</div>
	</div>
	
	<div id="grid12-bottom">&nbsp;</div>
	<div id="plans"><% render :partial => "plans" %></div>
</div>
<%= render :partial => @account %>

<script type="text/javascript" charset="utf-8">
  function enableButton() {
    document.getElementById('commit').disabled = document.forms[0].elements['plan_id'].selectedIndex == 0
  }
  enableButton();
</script>
