<% if @subscription && @subscription.errors.any? %>
  <div class="errorExplanation">
    <h2>Errors encountered with your change:</h2>
    <ul>
      <%= @subscription.errors.full_messages.map {|m| content_tag('li', m)} %>
    </ul>
  </div>
<% end %>

<div id="content">
	<h1><%= @page_title = "Subscription Information for #{h(@account.name)}" %></h1>

<div class='left' style="width: 400px">
	<p> You can change your subscription plan at any time. New plan features will be available immediately, 
		and you will be billed a prorated amount based on the time left before your next billing date.</p>

	<% form_tag plan_operator_account_url do %>
		<% if @subscription.card_number %>
			<label>Card ends with </label> <%= @subscription.card_number %>
			<%= link_to "Change Billing", billing_path %>
			<% else %>
			<label>No card on file</label>
			<%= link_to "Add card", billing_path %>
		<% end %>

	    <label>Subscription</label>
	    <select name="plan_id" onChange="enableButton()">
		 	<option value=""></option>
	    	<%= SubscriptionPlan.find(:all, :conditions => ['id <> ?', @subscription.subscription_plan_id], 
				:order => 'amount desc').map {|p| content_tag(:option, p, :value => p.id) } %>
	    </select> <!-- #, :disabled => !current_account.qualifies_for?(p) -->

		<label>Next Billing Date</label>
		<%= @subscription.next_renewal_at.to_s(:short_day) %>
	
		<br />	<br />
		<%= link_to "Cancel Plan", cancel_path %>
		<% link_to(image_tag("/images/buttons/cancel_plan.gif"), cancel_path ) %>
		
		<%= link_to "Back", :back %>
		<% link_to(image_tag("/images/buttons/back.gif"), :back) %>
		
		<%= submit_tag "Change Plan", :id => "commit", :disabled => true %>
		<% image_submit_tag("/images/buttons/change_plan.gif", :class => 'button', :disabled => true) %>
	
		<br /><br />
		<p>	Refunds are not issued for canceled subscriptions. 
		   	Any remaining balance will be saved until the subscription is reactivated. 
			View our <%= link_to "Terms of Service", page_path('tos') %>
			or email <%= mail_to "billing@heavensbest.us", "billing@heavensbest.us", :encode => :hex, 
			:subject => "Question about billing policies" %> with questions.</p>
  
	<% end %>
</div>
<%= render :partial => @account %>
	<div id="plans"><% render :partial => "plans" %></div>
	<div class="clearfix"></div>
</div>

<script type="text/javascript" charset="utf-8">
  function enableButton() {
    document.getElementById('commit').disabled = document.forms[0].elements['plan_id'].selectedIndex == 0
  }
  enableButton();
</script>
