<div class="clear"></div>
<div id="grid16-top" class="indent10">&nbsp;</div>

<div id="grid16-middle" class="indent10">
	<h1 class="indent20"><%= @page_title = 'Create a User' %></h1>

	<fieldset>
	<%= form_for [:admin, @user] do |f| -%>

		<%= f.label :name %>
		<%= f.text_field :name %><br />

		<%= f.label :login, 'Username' %>
		<%= f.text_field :login %><br />

		<%= f.label :email %>
		<%= f.text_field :email %><br />

		<%= f.label :phone %>
		<%= f.text_field :phone %><br />

		<%= f.hidden_field :password, :value => "123456" %>
		<%= f.hidden_field :password_confirmation, :value => "123456" %>

		<label>&nbsp;</label><%= submit_or_cancel %>

	<% end -%>
	</fieldset>	
</div>

<div id="grid16-bottom" class="indent10">&nbsp;</div>
