<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<% if @account %>
		<title><%= h(@page_title + " | ") if @page_title %>Heaven's Best in <%= @account.name %>, <%= @account.region.name %></title>
		<meta name="description" content="Heaven's Best Carpet and Upholstery Cleaning provides quality dry in 1 hour services for customers throughout the <%= @account.name %>, <%= @account.region.abbreviation %> area" />
		<meta name="keywords" content="<% for service in @services %><%= h service.title.downcase %>, <% end %> cleaning experts, dry in one hour, dry cleaning, steam cleaning, steam cleaners, healthy home, safe carpet cleaning, eco-friendly, enviromentally friendly, nontoxic" />
		<meta name="zipcode" content="<%= @account.locations %>" />
			<% else %>
			<title><%= h(@page_title + " | ") if @page_title %>Heaven's Best Carpet and Upholstery Cleaning</title>
			<meta name="description" content="Heaven's Best Carpet and Upholstery Cleaning provides quality dry in 1 hour services for commercial and residential customers" />
			<meta name="keywords" content="carpet cleaning, upholstery cleaning, tile and grout cleaning, carpet cleaners, hardwood floor refinishing, rug cleaning, carpet cleaning companies, stain removal, wood floor cleaning, leather cleaning, couch cleaning, commercial cleaning, business cleaning, cleaning experts, dry in one hour, steam cleaning, steam cleaners, healthy home, safe carpet cleaning, eco-friendly, enviromentally friendly, nontoxic" />
		<% end %>
		<meta name="author" content="Lucidius LLC. www.lucidi.us" />
		<meta name="copyright" content="(c)<%= Date.today.year %> Lucidius LLC. All rights reserved." />
		
		<%= stylesheet_link_tag 'reset', 'main', 'navigation', '960', :cache => true %>
		<%= javascript_include_tag :defaults, :cache => true %>
		<!--[if lt IE 7]>
			<link rel="stylesheet" type="text/css" href="/stylesheets/ie6.css" />
		<![endif]-->
		<!--[if IE 7]>
			<link rel="stylesheet" type="text/css" href="/stylesheets/ie7.css" />
		<![endif]-->
	</head>
	<body>

	<div id="container" class="container_16">
		<div id="p-header">	
			<div class="logo"><a href="/">&nbsp;</a></div>		
			<% if @account %>
				<%= render :partial => "shared/area_menubar" if @account %>
			
				<div id="contact" class="grid_4">
					<div class="email">Call or <%= mail_to @account.email, "email", :encode => "hex"%> today!</div>
					<div class="phone">
						<%= number_to_phone(@account.phones.first.number, :area_code => true) %></div>
					<div class="name"><%= @account.operators.first.name %> </div>
				</div>
				<% else %>
				<%= render :partial => "shared/home_menubar" %>
			<% end %>
		</div>
		
		<%= yield  %>

		<%= render :partial => "shared/footer" %>
	</div>

	<%= render :partial => "shared/analytics" if RAILS_ENV == 'production' %>
	</body>
</html>