
<div id="welcome"><h1>Welcome to Heaven's Best Carpet Cleaning!</h1></div>

<div id="frontpage">
	<div id="intro" class="grid_10 prefix_1">	
		<p> Heaven's Best is a world leader in carpet and upholstery cleaning. Our unique <br /> "dry in one hour" process yields exceptional results and greatly reduces typical carpet cleaning dry times. Heaven's Best carpet cleaning experts can tackle the toughest stains and dirt leaving your carpets clean and renewed.</p>
		<%= image_tag("/images/content/upholstery.jpg", :size => "380x252", :alt => "couch")%>
	</div>	
	
	<div id="search" class="grid_5">
		<h2>Find Your Local Area</h2>
		<p><q>Enter your zip code or city name</q></p>
		
		<%= form_tag :action => :search do %>
      <%= autocomplete_field :account_name, '', accounts_autocomplete_account_name_path %>
    <% end %>
    
		<% if flash[:notice] %><div class='notice' style="margin-right: 50px"><%= flash[:notice] %></div><% end %>
	</div>
</div>

<div id="cards">
	
	<div id="tips" class="grid_5">
		<h2><%= Tip.random.title %></h2>
		<%= textilize(Tip.random.body).html_safe %>
	</div>

	<div id="ad" class="grid_6">
		<%= render :partial => "shared/ad" %>
	</div>
	
	<div class="grid_5 testimonial">
			<div class="grid5-top">&nbsp;</div>
			<div class="grid5-middle" class="middle" style="height:100px">
				<p>We tried several carpet cleaning companies and were always unsatisfied with the results. Heaven’s Best is prompt, professional, and courteous. We are completely satisfied with their services.</p>
			</div>
			<div class="testimonial-bottom"></div>
			<span class="name">Teresa Ardoin</span>
			<span class="location">in Port Aransas, TX</span>
	</div>

</div>
<div class="clear"></div>