<% title "Locations" %>

<div id="welcome"><h1>Find Your Local Heaven's Best Operator</h1></div>

<div id="frontpage">
	<div id="locations" class="grid_10 prefix_1">
		<h2>Now Serving The Following Areas*</h2>
			
		<% @account_regions.sort.each do |region, accounts| %>
		  <div class="region">
			<h3><%= region %></h3>
			<ul>
			<% for account in accounts %>
			  <li class="area"><%= link_to account.name, area_path(account.region.abbreviation.downcase, account.accountlink) %></li>
			<% end %>
			</ul>
		  </div>
		<% end %>
	</div>	
	
	<div id="search" class="grid_5">
		<h2>Quick Locator</h2>
		<p><q>Enter your zip code or city name</q></p>
		
		<%= form_tag :action => "search" do -%>
			<%= text_field_with_auto_complete :account, :locations, { :size => 19 }, 
			:url => accounts_path(:format => :js), :method => :get, :param_name => 'search', :skip_style => true %>
			<%= javascript_tag "$('account_locations').focus()" %>
			<% image_submit_tag("/images/buttons/go.gif", :class => 'button' ) %>
		<% end -%>
		<% if flash[:notice] %><div class='notice' style="margin-right: 50px"><%= flash[:notice] %></div><% end %>
	</div>

</div>
<div class="grid_10 prefix_1">*This is an incomplete list of Heaven's Best operators. A complete list may be found at 
	<a href="http://www.heavensbest.com/locations.html"> heavensbest.com</a>.<br />
	If you are an operator and would like to have your site listed please contact 
	<%= mail_to "natebird@heavensbest.us", "Nate at Lucidius", :encode => :hex %>.</div>
<div class="clear"></div>