
<div id="welcome">Welcome to Heaven's Best in <%=h @account.name %>!</div>

<div id="homepage">
	<div class="grid_7 prefix_1">	
		<h1>Carpet Cleaning</h1>
		<p> Franchise’s Dry-In-One-Hour carpet cleaning removes soil and stains that other cleaners leave behind.
			First, our powerful dry vacuum system removes the loose soil.
			Our exclusive cleaning solution then penetrates carpet fibers and gently loosens trapped soil and stains.
			Next, our powerful buffer, specially designed with absorbent pads, gently lifts away soil and moisture.
			Finally, we groom the carpet fibers to look and feel like new.
		</p>
		<img src="/images/content/pictures/testcarpet.jpg">
	</div>
	<div class="grid_7 suffix_1">	
		<h1>Upholstery Cleaning</h1>
		<p> Cleaning your carpets every 6 to 12 months doubles the life of your carpet. 
			Even if you vacuum regularly, dirt works its way deep into the fibers of your carpet where it 
			grinds and rubs. While the do-it-yourself approaches are less expensive, they are almost never as 
			effective as professional cleaning and involve a considerable amount of time and hard work. 
			Our experts can help you avoid the hassle and costly mistakes like over-wetting and the residue 
			left from over-shampooing.
		</p>
		<img src="/images/content/furniture/testcouch.jpg">
	</div>
</div>
<div class="clear"></div>

<div id="cards">
	
	<div id="tips" class="grid_5 blur">
		<h2 class="blur2"><%= Tip.random.title %></h2>
			<%= simple_format(Tip.random.body) %></div>

	<% if @special %>
		<%= render :partial => @special %>
		<% else %>
		<div id="ad" class="grid_6">
			<%= render :partial => "shared/ad" %>
		</div>
	<% end %>
	
	<div class="grid_5 testimonial">
		<% if @testimonial %>
			<div class="top">&nbsp;</div>
			<div class="middle" style="height:93px">
				<p><%= truncate(@testimonial.quote, :length => 195, :ommission => "…") %>
				   <%= link_to "Read More", testimonials_path(params[:region], params[:accountlink]) %></p></div>
			<div class="bottom"></div>
			<span class="name"><%= @testimonial.name %></span>
			<span class="location">in <%= @testimonial.location %></span>
		<% else %>
			<div class="top">&nbsp;</div>
			<div class="middle" style="height:93px">
				<p>Heaven’s Best did the impossible with the carpet in a rental property that we own. 
					I really thought we would have to rip them out.	I am so glad I called Heaven’s Best. </p></div>
			<div class="bottom"></div>
			<span class="name">Barbara Grubbs</span>
			<span class="location">in Tobyhanna, PA</span>
		<% end %>
	</div>
	
</div>
<div class="clear"></div>